<h1>Profile</h1>
<% if session[:user_id] %>
<p> You are logged in! Hi <%= @user.name %></p>

<%= link_to "edit", edit_user_path(@user)%>

<p><a href="/profile">Profile</a></p>

<% else %>
<p> Who are you? Log in please! </p>
<% end %>